<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot_bit.myBatis.mapper.BoardMapper">

    <select id="getList" resultType="com.example.springboot_bit.entity.Board">
        SELECT * FROM tblBoard ORDER BY boardGroup desc;
    </select>

    <insert id="insert" parameterType="com.example.springboot_bit.entity.Board">
        INSERT INTO
        tblBoard(idx, memId, title, content, writer, boardGroup, boardSequence, boardLevel, boardAvailable)

           SELECT
           IFNULL(max(idx)+1, 1),
           #{memId}, #{title}, #{content}, #{writer},
           IFNULL(max(boardGroup)+1, 0),
           0, 0, 1
           FROM tblBoard;

    </insert>

    <insert id="insertSelectKey" parameterType="com.example.springboot_bit.entity.Board">
        <selectKey keyProperty="idx,boardGroup" resultType="com.example.springboot_bit.entity.Board" order="BEFORE">
            SELECT
            IFNULL(max(idx)+1, 1) AS idx,
            IFNULL(max(boardGroup)+1, 1) AS boardGroup
            FROM tblBoard
        </selectKey>

        INSERT INTO
        tblBoard(idx, memId, title, content, writer, boardGroup, boardSequence, boardLevel, boardAvailable)
        VALUES(#{idx}, #{memId}, #{title}, #{content}, #{writer}, #{boardGroup}, 0, 0, 1)
    </insert>

    <select id="login" resultType="com.example.springboot_bit.entity.Member" parameterType="com.example.springboot_bit.entity.Member">
        SELECT * FROM tblMember WHERE memId = #{memId} AND memPwd = #{memPwd}
    </select>

    <select id="read" parameterType="Integer" resultType="com.example.springboot_bit.entity.Board">
        SELECT * FROM tblBoard WHERE idx = #{idx}
    </select>




</mapper>